<!-- <div class= "text-right">
  <button (click)="logOut()" class="btn btn-primary mt-2">Log out</button>
</div> -->

<div class="container border bg-dark mt-0 text-light" style="height:auto;min-height:500px;border-radius:5px;box-shadow: inset 0 0 8px rgb(169, 170, 105);">
    <div class="row mt-2">
        <div class="col-9 ">

        </div>
        <button (click)="logOut()" class="col-2 btn btn-warning ">Log out</button>
    </div>
    <div class="row justify-content-center">
        <h2 class="col-4 text-center">{{name}}</h2>

    </div>
    <div class="row align-content-center">
        <div class="col-lg-2 m-2 ">
            <app-message [userName]="userName" id="message"></app-message>
        </div>


        <div class="col-lg-4 m-2 text-dark">
            <div *ngFor="let card of cards; let idx = index">
                <app-card (onChanged)="onChanged($event)" [value]="card.value" id="message"></app-card>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 ml-2 border" id="messagebox">
            <button *ngIf="role === 'Admin'" [disabled]="buttonDisabled()" (click)="getVotes()" class="btn btn-primary mt-2">Finish Voting</button>
            <button *ngIf="role === 'Admin'" (click)="resetVotes()" class="btn btn-primary mt-2">Reset Votes</button>
            <div class="row border bg-primary">
                <div class="col-sm-3">
                    <p>Active users</p>
                </div>

                <div class="col-sm-2">
                    <p>Role</p>
                </div>

                <div class="col-sm-4">
                    <p>Voted Users</p>
                </div>

                <div class="col-sm-2">
                    <p>Vote</p>
                </div>

            </div>

            <div class="row border bg-primary ">
                <div class="col-sm-3" align="center">
                    <p *ngFor="let user of users" class="text-dark">{{user}}</p>
                </div>
                <div class="col-sm-2">
                    <p *ngFor="let role of roles " class="text-dark ">{{role}}</p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-1">
                    <p *ngFor="let vot of Votes" class="text-dark justify-content-center">{{vot}}<br></p>
                </div>
                <div class="col-sm-2"></div>
                <!-- <div class="col"></div> -->
                <div class="col-sm-1">
                    <p *ngFor="let vote of userVote " class="text-dark ">{{vote}}<br></p>
                </div>
            </div>

        </div>
        <!-- <div class="col-4">
      <button *ngIf="role === 'Admin'" [disabled] = "buttonDisabled()" (click)="getVotes()" class="btn btn-primary mt-2">Finish Voting</button>
      <button *ngIf="role === 'Admin'" (click)="resetVotes()" class="btn btn-primary mt-2">Reset Votes</button>
   
      <table class="table">
          <thead>
            <tr>
              <th scope="col">user</th>
              <th scope="col">Role</th>
              <th scope="col">Voted Users</th>
              <th scope="col">Vote</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
            
              <td scope="row" *ngFor="let user of users ">{{user}}</td>
              <td scope="row" *ngFor="let role of roles" >{{role}}</td>
              <td scope="row" *ngFor="let vot of Votes" ><p *ngIf="vot">{{vot}} </p> </td>
              <td scope="row" *ngFor="let vote of userVote " >{{vote}}</td>
            </tr>
           
          </tbody>
        </table>
  </div> -->
    </div>

</div>