<div *ngIf="!inRoom()">
    <button (click)="logOut()" class="btn btn-primary mt-2 float-right">Log out</button>

  <div class="input-group mb-3">
      <h1 class="text-center">Add new room or join existing</h1>
    <input type="text" [(ngModel)]="name" class="form-control" style="max-width:30%" placeholder="Room name" aria-label="Room name" 
      aria-describedby="basic-addon1">
  </div>
  <div class="container">
    <div class="row">
      <button (click)="addRoom()" class="first">Add Room</button>
    </div>
    <div *ngFor="let room of rooms" class="row text-dark justify-content-center">
      <div class="col-1 pt-4">
        <h1 class="right">{{room.name}}</h1>
      </div>

      <button (click)="joinRoom(room.id,room.name)" class="btn btn-success col-2 mt-5 ">Join Room</button>
      <button (click)="deleteRoom(room.id)" class=" btn btn-primary col-2 mt-5 ml-1">Delete Room</button>
    </div>
    <div class="row">

    </div>
  </div>

</div>