<div class="container ">
  <div class="row align-content-center">
    <div class="col m-2 " >
      <app-message [userName]="userName" id="message"></app-message>
    </div>


    <div class="col-md-5 m-2 ">
          <div *ngFor="let card of cards; let idx = index">
            <app-card [value]="card.value" id="message"></app-card>
          </div>
    </div>

      <div class="col m-2 border" id="messagebox">
        <table class="table" *ngIf="users">
          <tr>
            <th>Active users</th>
          </tr>
          <tbody >
            <tr *ngFor="let user of users">
              <td class="text-primary" id="user">{{user}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div>
</div>